*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.nav{
    /* background-color: pink; */
    background: linear-gradient(217.32deg, #FCFCFD -0.01%, rgba(252, 252, 253, 0.6) 100%);
    box-shadow: 15px 15px 10px whitesmoke;
    display: flex;
}

h3{
    background: linear-gradient(84.79deg, #4313A1 0%, #BD4238 99.99%, #FF5C00 100%);


    margin-top: 10px;
    margin-left: 70px;
    font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 35px;
/* line-height: 140% */
}
.right-menu{
    margin-left: 800px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    
    color: #483D5C;
    /* border: 2px solid grey; */
}

ul li{
    color: #483D5C;
    display: inline-flex;
    margin: 20px;
    cursor: pointer;
}


.second{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
    margin-left: 50px;
}
h2{
    font-family: DM Sans;
    margin: 70px;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 140%
}

span{
    margin-top: 50px;
    margin-left: 300px ;
    font-size: 25px;
    cursor: pointer;
    display: none;
}
#second-p{
    font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 150%;
color: #483D5C;
margin-top: -50px;
margin-left: 70px;
}

.btn{
width: 200px;
height: 40px;
font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
/* line-height: 21px; */
text-align: center;
letter-spacing: 0.2px;
padding: 10px;
color: #FFFFFF;
    margin-top: 20px;
    margin-left: 70px;
    background: #4313A1;
border-radius: 50px;
}

.btn1{

align-items: center;
padding: 8px 24px;
height: 40px;
margin-bottom: 30px;
background: rgba(235, 227, 253, 0.25);
border-radius: 20px;
top: 20%;
bottom: 20%;

font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 24px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #4313A1;


}

.third2{
    display: flex;
    border: 2px solid pink;
    border-radius: 50px;
    width: 1050px;
    margin-left: 150px;
    margin-top: 40px;
    background: rgba(239, 188, 206, 0.25);
border-radius: 20px;
}

#p-1{
 
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 36px;    
    text-align: center;
    
}

.third-para1{
    margin-top: 50px;
    margin-left: 100px;
}

.p2{
    font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 36px;
color: #18141F;
margin-top: -20px;
}

.p3{
margin-top: 15px;
font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 150%;
color: #5F527A;

}

.p4{
    margin-top: 15px;
    font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
color: #D67F9C;

}


.third-card1{
    background: rgba(255, 224, 173, 0.25);
border-radius: 30px;
width: 400px;
 text-align: center;
margin-left: 60px; 
}
.third-card2{
    background: rgba(255, 224, 173, 0.25);
border-radius: 30px;
width: 400px;
text-align: center;
margin-right:150px;
}

.third3{
        display: flex;
        margin-left: 150px;
        margin-top: 70px;
        /* background: rgba(239, 188, 206, 0.25); */
    border-radius: 20px;
    justify-content: space-around;
}

.pline1{
    font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 36px;
color: #18141F;
}

.pline2{
    font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 150%;
color: #5F527A;
}

.pline3{
    font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
color: #FFC465;
margin-top: 30px;
}

.pline4{
    font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 36px;
color: #18141F;
margin-top: 20px;
}

.pline5{
    font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 150%;
color: #5F527A;
}

.pline6{
    font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
color: #FFC465;
margin-top: 30px;
}

.fourth-middle{
    margin-top: 50px;
}

.btn2{
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;    
    color: #4313A1;
padding: 8px 24px;
width: 180px;
height: 40px;
background: rgba(235, 227, 253, 0.25);
border-radius: 20px;

}

.fourth-line1{
    font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 36px;
text-align: center;
margin-top: 20px;
}

.fourth-para{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.fp1, .fp2 , .fp3 , .fp4{
    font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 150%;
text-align: center;
letter-spacing: 0.21px;
color: #483D5C;
}

.btn3{
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;    
    color: #4313A1;
padding: 8px 24px;
width: 180px;
height: 40px;
background: rgba(235, 227, 253, 0.25);
border-radius: 20px;

}

.five1{
    margin-top: 80px;
    margin-left: 200px;
}
.fvp2{
    margin-top: 20px;
    font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 36px;
}



.five3{
    display: flex;
    align-items: center;
    margin-left: 200px;
}

.fvp3{
    margin-left: 30px;
    margin-top: 25px;
}

.fvp4{
    margin-left: 30px;
    margin-top: 30px;
}

.fvp5{
    margin-left: 30px;
    margin-top: 30px;
}



.btn4{
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;    
    color: #4313A1;
padding: 8px 24px;
width: 180px;
height: 40px;
background: rgba(235, 227, 253, 0.25);
border-radius: 20px;

}

.six1{
    margin-top: 80px;
    margin-left: 550px;
}
.Sp1{
    margin-top: 20px;
    font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 36px;
}


.six2{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.six3{
    margin-left: 15px;
    border: 2px solid ghostwhite;
    width: 320px;
    text-align: center;
    height: 530px;
    background: #FFFFFF;
   box-shadow: 0px 20px 32px rgba(61, 75, 92, 0.05);
   border-radius: 30px;
}
#imgs1{
    width: 300px;
    height: 200px;
}
#imgs2{
    width: 300px;
    height: 250px;
}
#imgs3{
    width: 300px;
    height: 250px;
}

.btn5{
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;    
    color: #4313A1;
/* padding: 8px 24px; */
width: 150px;
height: 40px;
background: rgba(235, 227, 253, 0.25);
border-radius: 20px;


}
.btn6{
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;    
    color: #4313A1;
padding: 8px 24px;
width: 100px;
height: 40px;
background: rgba(235, 227, 253, 0.25);
border-radius: 20px;
margin-top: 20px;

}


.Sp2{
    font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 135%;
letter-spacing: 0.21px;
color: #483D5C;
margin-top: 15px;

}

.Sp3{
    font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 15px;
color: #5F527A;
margin-top: 15px;

}

.Sp4{
    font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 150%;
color: #5F527A;
margin-top: 15px;
}


.seven{
    text-align: center;
    margin-top: 100px;
}

.seven1{
    font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 135%;

color: #4313A1;
}

.seven2{
    font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 150%;
text-align: center;
color: #5F527A;

}


.btn7{
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;    
    color: #4313A1;
padding: 8px 24px;
width: 300px;
height: 40px;
background: rgba(235, 227, 253, 0.25);
border-radius: 20px;
margin-top: 20px;
}

.footer{
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
   background-color:  rgba(25, 0, 73, 1);
   height: 300px;
  
}


.foot1{
    margin-top: 100px;
}
.foot1p{
    font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 140%;
color: #FFFFFF;
}


.foot2p{
    
font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
}

.foot3p{
    font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
color: #FFFFFF;
opacity: 0.7;

flex: none;
order: 0;
flex-grow: 0;
margin: 12px 0px;
}


.fab{
    margin: 10px;
    color: rgba(255, 255, 255, 1);
}

.fas{
    border: 1px solid pink;
    border-radius: 20px;
    padding: 5px;
    margin-left: 10px;
}

.foot2{
    display: flex;
    justify-content: space-between;
    background-color:  rgba(25, 0, 73, 1);
    
}

.foot4p, .foot5p{
    font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
color: #FFFFFF;
opacity: 0.7;

flex: none;
order: 0;
flex-grow: 0;
margin: 22px ;
}
#second-img{
    width: 60%; 
    height: 400px;
     margin-top: 70px;
}

#third-img{
    margin-left: 100px;
    margin-top: 100px;
}
 
#four-img1{
width:20%; 
height:100px;
 margin-left: 60px; 
border-radius: 40%;
}
#four-img2{
width:20%; 
height:100px;
 margin-left: 80px; 
border-radius: 40%;
}
#four-img3{
width:40%; 
height:130px;
 margin-left: 60px; 
border-radius: 40%;
}
#four-img4{
width: 15%; 
height:130px;
 margin-left: 60px; 
border-radius: 40%;
}

#five-img{
    margin-left: 800px; 
    height: 350px; 
    width: 400px; 
    margin-top: -300px;
}


/* ..........Media Query..........  */

@media only screen and (max-width: 550px){
    
 
.second{
    display: block;
    margin-left: 50px;
}

#second-img{
    width: 200%;
    margin-left: 20px;
    height: 600px;

}

h2{
width: 700px;
font-size: 80px;
margin-left: 150px;
}

#second-p{
width: 100%;
font-size: 50px;
margin-left: 200px;
}

.btn{
width: 100%;
height: 60px;
font-size: 36px;
    margin-top: 20px;
    margin-left: 150px;
border-radius: 50px;
}

.btn1{
 
    width: 100%;
height: 60px;
font-size: 36px;
    margin-top: 10px;
    margin-left: 200px;
border-radius: 50px;
    
}
    
    .third2{
        display: block;
        width: 160%;
        margin-left: 100px;
        margin-top: 40px;
        height: 1000px;
    }
    
    #p-1{
      margin: 20px;
        font-size: 46px;
    width: 200%;  
        text-align: center;
        
    }
    
    .third-para1{
        margin-top: 50px;
        margin-left: 80px;
    }
    
    .p2{
    font-size: 54px;
    margin-top: 10px;
    }
    
    .p3{
    margin-top: 25px;
    font-size: 40px;
    }
    
    .p4{
        margin-top: 15px;
    font-size: 40px;
    margin-left: 40px;
    
    }
    
    
    .third-card1{
    width: 250%;
    margin-top: 200px;
    margin-left: -30px; 
    height: 400px;
    }
    .third-card2{
    width: 250%;
    margin-top: 100px;
    margin-left: -30px; 
    height: 500px;
    }
   
    
    .third3{
            display: block;
            margin-left: 150px;
            margin-top: 40px;
    }
    

    #third-img{
        width:100%;
        height:450px;
        margin-left: -7px;
    }


    .pline1{
    font-size: 44px;
    margin-top: -20px;
    }
    
    .pline2{
    font-size: 40px;
    margin-top: 100px;
    }
    
    .pline3{
    font-size: 46px;
    margin-top: 50px;

    }
    
    

    .pline4{
        font-size: 44px;
        margin-top: -20px;
        }
        
        .pline5{
        font-size: 40px;
        margin-top: 100px;
        }
        
        .pline6{
        font-size: 46px;
        margin-top: 50px;
    
        }
 
        .btn2{
 
            width: 100%;
        height: 60px;
        font-size: 46px;
            margin-top: 50px;
            margin-left: 250px;
        border-radius: 50px;
            
        }
        .btn3{
            width: 200%;
            height: 60px;
        font-size: 46px;
            margin-top: 50px;
            margin-left: 100px;            
        }
        .btn4{
            width: 500px;
            height: 100px;
        font-size: 66px;
            margin-top: 50px;
            margin-left: -300px;           
        }
    
 
        
        .fourth-line1{
          width: 150%;
        font-size: 46px;
        margin-left: 150px;
        margin-top: 80px;
        }
        
        .fourth-para{
            display: block;
            margin-top: 100px;
        }
        
        .fp1, .fp2 , .fp3 , .fp4{
          font-size: 50px;
        width: 150%;
        margin-left: 200px;
        }



        
#four-img1{
    width:50%; 
    height:200px;
     margin-left: 400px; 
     margin-top: 30px;
    }
    #four-img2{
        width:50%; 
        height:200px;
         margin-left: 400px; 
         margin-top: 50px;
    }
    #four-img3{
        width:50%; 
        height:200px;
         margin-left: 400px; 
         margin-top: 50px;
    }
    #four-img4{
        width:50%; 
        height:200px;
         margin-left: 400px; 
         margin-top: 50px;
    }



    .fvp2{
        margin-top: 50px;
    font-size: 56px;
    width: 250%;
    }
    
    
    
    .five3{
        display: flex;
        align-items: center;
        margin-left: 200px;
        width: 200%;
        margin-top: 50px;
        margin-left: 70px;
    }
    
    .fvp3{
      font-size: 40px;
        margin-top: 25px;
    }
    
    .fvp4{
        margin-left: 30px;
        margin-top: 30px;
        font-size: 40px;
    }
    
    .fvp5{
        font-size: 40px;
        margin-left: 30px;
        margin-top: 30px;
    }
    
    #five-img{
        margin-left: 200px; 
        height: 800px; 
        width: 180%; 
        margin-top: 150px;
    }   
 
    .Sp1{
        margin-top: 60px;
       font-size: 46px;
        width: 350px;
        margin-left: -200px;
    }
    
    .six2{
        margin-top: 70px;
        display: block;
        margin-left: 350px;
    }
    
    .six3{
        margin-left: 35px;
        width: 500px;
        text-align: center;
        height: 650px;
    }
    #imgs1{
        width: 450px;
        margin-left: -15px;
        height: 300px;
    }
    #imgs2{
        width: 450px;
        margin-top: 150px;
        margin-left: -15px;
        height: 300px;
    }
    #imgs3{
        width: 450px;
        margin-top: 300px;
        margin-left: -15px;
        height: 350px;
    }
    
    .btn5{
        font-size: 25px;
    width: 250px;
    height: 40px;    
    }
    .btn6{
       
        font-size: 25px;
      width: 200px;
   margin-left: 20px;
    
    }
    
    
    .Sp2{
    font-size: 30px;
    margin-top: 15px;
    }
    
    .Sp3{
    font-size: 25px;
    margin-top: 15px;
    
    }
    
    .Sp4{
    font-size: 20px;
    margin-top: 15px;
    }
    
    
    .seven{
        text-align: center;
        margin-top: 500px;
        margin-left: 300px;
    }
    
    .seven1{
    font-size: 62px;
    width: 500px;
    }
    
    .seven2{
    font-size: 50px;
    width: 500px;
    }
    
    
    .btn7{
        font-size: 35px;
    width: 580px;
    height: 70px;
    margin-top: 20px;
    margin-left: -50px;
    } 
      .footer{
        margin-top: 100px;
        margin-left: 200px;
        width: 900px;
        display: inline-block;
       height: 970px;
      
    }
    
    
    .foot1{
        margin-top: 100px;
    }
    .foot1p{
    font-size: 42px;
    margin-top: -50px;
    margin-left: 330px;
       }
    
    
    .foot2p{
    font-size: 26px;
    margin-left: 330px;
    margin-top: -50px;
    }
    
    .foot3p{
       
    font-size: 24px;
    margin-left: 330px;
    margin-top: 30px;
    }
    
    
    .fab{
       font-size: 40px;
        margin-left: 220px;
    }

    
    .foot2{
        display: inline-block;
        justify-content: space-between;
        background-color:  rgba(25, 0, 73, 1);
        
    margin-left: 205px;
    }
    
    .foot4p, .foot5p{
     margin-left: 250px; 
     width: 620px; 
    font-size: 24px;
    margin-top: 50px;
    }
.nav {
    background: linear-gradient(217.32deg, #FCFCFD -0.01%, rgba(252, 252, 253, 0.6) 100%);
    /* background-color: pink; */
    width: 1300px;
    /* height: 500px; */
}
 span{
    font-size: 50px;
     display: block;
     margin-left: -50px;
 }

 ul li{
     font-size: 50px;
     display: block;
     margin-left: -200px;
     margin-top: 100px;
 }


 h3{
    margin-top: 10px;
    margin-left: 100px;
font-size: 85px;
}

ul{
    display: none;
}


}
